.layout-container {
  min-height: 100dvh;
  position: relative;
}

.fixed-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.content-wrapper {
  position: relative;
  z-index: 1;
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: rgba(255, 255, 255, 0.98);
  border-radius: 20px 20px 0 0;
  padding: 3rem 1rem 0 1rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1280px;
  height: 90vh;
  min-height: calc(100vh - 20vh);
  overflow-y: auto;
  font-weight: 600;
  color: #023047;
  gap: 2rem;
}

.content-inner {
  max-width: 100%;
  width: fit-content;
}

.page-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 480px) {
  .page-title {
    text-align: start;
  }
}
