.wrapper {
  position: relative;
  /* height: 100vh; */
  overflow: hidden;
  width: 1280px;
  margin: 0 auto;
  padding-top: 15vh;
  /* padding-bottom: 10vh; */
}
.searchBox {
  position: absolute;
  margin-top: 1vh;
  margin-left: 24px;
  z-index: 10;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.chatRoomContainer {
  width: 40vw;
  margin: 1vh auto;
  padding: 12px 24px 24px 24px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  transform: translateX(3vw);
}

.chatSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  max-height: 70vh;
}

